# Exclude generated and build files only
build/** linguist-vendored
.dart_tool/** linguist-vendored

# IDE configs
.vscode/** linguist-vendored
.idea/** linguist-vendored

*.dart linguist-detectable=true
*.dart linguist-language=Dart
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.mm linguist-detectable=false
*.m linguist-detectable=false
